<h1>Container size: <%= @container %> (oz.)</h1>
<p>
<h3>You will need:</h3>
<p>
<ul>
<li>Cream: <%= @cream * @multiplier %> oz</li>
<li>Flavor: <%= @flavor * @multiplier %> oz</li>
<li>Coco Milk: <%= @coco_milk * @multiplier %> oz</li>
</ul>